h1{
    color : rgb(17, 0, 255);
}
*{
    border : solid;
}
.header{
    background-color : goldenrod;
    display : flex;
    justify-content : space-evenly;
}
.grid{
    display : flex;
    flex-wrap : wrap;
    justify-content : space-evenly;
}
.footer{
    display : flex;
    justify-content : flex-end;
}